<footer id="section_{{ section.id }}" class="site-footer">
  <h2 class="visually-hidden">Footer - Links To Additional Site Info</h2>
</footer>



{% schema %}
  {
    "name": "Footer",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
     }
   ]
  }
{% endschema %}
